  <script>
  picc.BASE_URL = '{{ site.baseurl }}';
  picc.SITE_BRANCH = '{{ site.branch }}';

  // site.API = {{ site.API|jsonify }};
  {% if site.API[site.branch] %}
  picc.API.url = '{{ site.API[site.branch].baseurl }}';
  picc.API.key = '{{ site.API[site.branch].key }}';
  {% else %}
  picc.API.url = '{{ site.API.baseurl }}';
  picc.API.key = '{{ site.API.key }}';
  {% endif %}

  /*
   * This is a dictionary for the various "special designation"
   * columns. The race/ethnicity ones are all nested under the
   * `minority_serving` property, whereas the `women_only` and
   * `men_only` are top-level properties of each school API response
   * object.
   */
  picc.SPECIAL_DESIGNATIONS = ({{ site.data.special_designations|jsonify }}) || {};

  /*
   * The program areas list is used to generate human-friendly names from the
   * program offering and percentage objects that come back from the API under
   * the fields designated by `picc.fields.PROGRAM_OFFERED` and
   * `picc.fields.PROGRAM_PERCENTAGE`, respectively.
   */
  picc.PROGRAM_AREAS = ({{ site.data.programs|jsonify }}) || [];
  // generate a mapping of {key: label} from the list of {key, label} objects
  picc.PROGRAM_AREAS_BY_ID = picc.PROGRAM_AREAS.reduce(function(map, d) {
    map[d.key] = d.label;
    return map;
  }, {});
  </script>

